{% extends '@SyliusShop/layout.html.twig' %}

{% import '@SyliusUi/Macro/messages.html.twig' as messages %}

{% block content %}
    {% set catalogPromotion = resource %}

    <h2 class="ui block header">
                {{ resource.translations.first.name }}
    </h2>
    <div class="one column grid">
        <div class="ui fluid card">
                {% set imagePath = '/media/image/'~resource.images.first.path %}
                <img src="{{ imagePath }}" width="200px" style="align-self: center">
            <div class="content">
                <div class="description">
                    {{ resource.startsAt | date("m/d/Y") }} - {{ resource.endsAt | date("m/d/Y") }}
                </div>
                <div class="meta">
                    {{ resource.translations.first.description }}
                </div>
            </div>
        </div>
    </div>

    <div class="ui four cards" id="products">
    {% for product in getProductsFromCatalog(catalogPromotion) %}
        {% include '@SyliusCatalogPromotionPlugin/Shop/CatalogPromotion/CatalogProduct/_box.html.twig' %}
    {% endfor %}
    </div>
{% endblock %}